.banner {
  height: 50vh;
  background-position: center;
}


.img-circle {
  width: 80px;
}

.header-flat {
  display: flex;
}

.row {
  display: relative;
}

h1 {
  font-size: 18px;
  margin-top: 0;
}

.header-flat-owner {
    padding: 20px;
}

p {
  padding-top:20px;
}
